@model TodoViewModel
@await Component.InvokeAsync("CreateTodo")
@await Component.InvokeAsync("FilterTodo")

<div class="row">
    <table class="table table-light table-striped border border-info rounded">
        <thead>
            <tr>
                <th>Todo</th>
                <th>Create Date</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Complated ?</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var todo in Model.Todos)
            {
                <tr>
                    <td>@todo.Description</td>
                    <td>@todo.CreateDate</td>
                    <td>@todo.StartDate</td>
                    <td>@todo.EndDate</td>
                    <td><input class="form-check-input" type="checkbox" checked="@(todo.IsComplated ? "checked" : "")"></td>
                    <td><a class="btn btn-warning">Edit</a></td>
                    <td><a class="btn btn-danger">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

